.footer {
    background-color: rgb(60, 98, 85);
    margin-top: 2rem;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;

}

ul {
    columns: 3;
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 0 !important;
}

a {
    color: white !important;
}